<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- ONLY your logs -->
    <logger name="com.example.UserService" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Turn off all Spring Boot logs -->
    <root level="OFF">
    </root>

</configuration>
