apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: lastmile
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
        processors:
          - add_kubernetes_metadata:
              in_cluster: true
    
    output.logstash:
      hosts: ["logstash.lastmile.svc.cluster.local:5044"]
      
